@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");

/**-----------------------**/
/**  ESTILOS	GLOBALES  **/
/**-----------------------**/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	background-color: hsla(225, 48%, 61%, 0.38);
	align-items: center;
	align-content: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.experiencia-h1,
.datos-h1,
.formacion-h1 {
	text-shadow: 4px 4px 2px rgba(230, 222, 222, 0.6);
	color: rgb(255, 255, 255);
	font-style: italic;
	font-size: 6rem;
	margin-top: 50px;
	text-align: center;
	vertical-align: text-bottom;
}

/**-----------------------**/
/**     HEADER NAV-BAR    **/
/**-----------------------**/
.nav {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	transition: all 0.5s ease;
	background: rgb(128, 153, 199);
	height: 50px;
	color: #fff;
	z-index: 100;
}
.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: 90%;
	color: #fff;
}
.nav__logo {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 900;
<<<<<<< HEAD:css/estilos.css
	color: rgb(232, 238, 232);
	text-shadow: 4px 4px 2px rgba(230, 222, 222, 0.6);
=======
	margin-top: 0;
	margin-bottom: 0;
>>>>>>> Solucion:Old/css/estilos.css
}
.nav__menu {
	display: grid;
	grid-auto-flow: column;
	gap: 1.5rem;
}
.nav__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}

.nav__item:hover {
	background: none;
	color: rgb(40, 216, 40);
}
.nav__input:checked + .nav__menu {
	background: #5a5a5a;
}
.nav__label,
.nav__input {
	display: none;
}
nav.active {
	background-color: #4066e28c;
	padding: 6px;
}
nav.active a {
	color: #f7f6f6;
}

/**-----------------------**/
/**  Media Querys NavBar  **/
/**-----------------------**/
@media (max-width: 700px) {
	.nav__label {
		display: block;
		cursor: pointer;
	}
	.nav__menu {
		position: fixed;
		top: 80px;
		bottom: 0;
		background: #8e7f7f;
		width: 100%;
		left: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		clip-path: circle(0 at center);
		transition: clip-path 0.5s ease-in-out;
	}
	.nav__input:checked + .nav__menu {
		clip-path: circle(100% at center);
	}
}

/**-----------------------**/
/**    SECTCION   INTRO    */
/**-----------------------**/
#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 80px);
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	color: white;
	text-align: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/img/intro/fondo.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
#nombre {
	text-shadow: 4px 4px 2px rgba(230, 222, 222, 0.6);
	color: rgb(255, 255, 255);
	font-style: bold;
	font-family: "Cardo", serif;
	font-size: 4rem;
	margin-top: 50px;
	text-align: center;
	vertical-align: text-bottom;
}

#descripcion-hero {
	font-family: "Cardo", serif;
	color: #fff;
	font-size: 1.5rem;
	margin-top: 20px;
}

/**-----------------------**/
/**   SECTCION   DATOS     */
/**-----------------------**/
.containerDatos {
	display: flex;
	align-items: left;
	flex-direction: column;
	height: max-content;
}
.container_izquerda {
	display: flex;
	align-items: left;
	flex-direction: column;
	max-width: 50%;
}
#lista-datos {
	display: flex;
	color: rgba(243, 238, 238, 0.924);
	font-family: "Times New Roman", Times, serif;
	font-size: 2rem;
	list-style-type: none;
	text-align: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
#foto-perfil {
	border-radius: 50%;
	width: 500px;
	height: 500px;
	object-fit: cover;
	align-items: center;
	margin-bottom: 20px;
}

/**-----------------------**/
/**  SECTCION EXPERIENCIA  */
/**-----------------------**/
.containerTarjetas {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.thecard {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
}

.thecard:hover {
	transform: rotateY(180deg);
}

.theFront {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #15ce4c;
	color: white;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	border-radius: 20px;
	font-size: 35px;
	font-weight: bold;
}

.theBack {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #ffc728;
	color: black;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
	transform: rotateY(180deg);
}
.containerExperiencia {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../assets/img/experiencia/fondo-datos.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.container-cards {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	align-items: center;
	overflow: hidden;
	display: flex;
	color: #f5f5f7;
	flex-direction: row;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background-color: rgba(232, 229, 225, 0.275);
}
p.text {
	font-family: "Cardo", serif;
	font-size: 2rem;
}

/**-----------------------**/
/**  SECTCION  FORMACION   */
/**-----------------------**/
.formaciion .carousel {
	min-height: 500px;
}
.carousel .carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	width: 500px;
	height: 500px;
}
.carousel .carousel-item .carousel-img {
	width: 500px;
	height: 500px;
	border-radius: 30px;
}
.carousel .carousel-item > img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/**-----------------------**/
/**  SECTCION  CONTACTO    */
/**-----------------------**/
.containerContacto {
	margin-top: 200px;
}
.form {
	width: 600px;
	height: 600px;
	background: #e6e6e6;
	border-radius: 23px;
	box-shadow: 0 0 40px -10px #000;
	margin: calc(9vh - 20px) auto;
	padding: 20px 30px;
	max-width: calc(100vw - 40px);
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	position: relative;
}
h2 {
	margin: 10px 0;
	padding-bottom: 10px;
	width: 180px;
	color: #78788c;
}
input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: "Montserrat", sans-serif;
	transition: all 0.3s;
	border-bottom: 2px solid #bebed2;
}
input:focus {
	border-bottom: 2px solid #78788c;
}
p:before {
	content: attr(type);
	display: block;
	margin: 28px 0 0;
	font-size: 14px;
	color: #5a5a5a;
}
button {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: "Montserrat", sans-serif;
	border: 2px solid #78788c;
	background-color: #8e7f7f;
	color: #f5f5f7;
	cursor: pointer;
	transition: all 0.3s;
}
button:hover {
	background: #78788c;
	color: #fff;
}

/**-----------------------**/
/**   SECTCION   FOOTER    */
/**-----------------------**/
.footer {
	background: #000;
	color: white;
	font-size: large;
	text-align: center;
	padding: 20px;
}
